@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@layer base {
    html {
      font-family: Bebas, system-ui sans-serif;
    }
  }
  
.big-logo,
.logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    background-image: linear-gradient(#1C274C, #1C274C);
    background-size: 100% 6px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
    letter-spacing: 2px;
    margin: 6px 0 4px;
    color: #1C274C;
    padding: 0 10px;
}

.dashboard-logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    background-size: 100% 6px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
    letter-spacing: 2px;
    margin: 6px 0 4px;
    color: #1C274C;
    padding: 0 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.big-logo {
    font-size: 6rem;
}
    
.big-logo:hover,
.logo:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
    cursor: pointer;
    color: white;
}
.big-logo:hover {
    border-radius: 4px;
}

.welcome-nav {
    border-bottom: 1px solid #ccc;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.welcome-signin-btn {
    align-items: center;
    appearance: none;
    border-radius: 4em;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -4px, #D6D6E7 0 -2px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}

.welcome-signin-btn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 0;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
  }
  
  .welcome-signin-btn:active:after {
    box-shadow: 0 0 0 0 rgb(195, 195, 195);
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .welcome-signin-btn:active {
    top: 1px;
  }

  .sidebar-item:hover {
    background-color: #1c274c37;
  }

  .sidebar-item.active {
    background-color: #1c274c37;
  }

  .multirow-action-btn.show {
    display: block;
    opacity: 1;
  }
  
  .multirow-action-btn {
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease; /* Adjust timing and easing as needed */
    }

  .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border: none!important;
  }

  .ant-layout-header {
    line-height: 72px!important;
  }

  .ant-input-search-button {
    background-color: #1C274C!important;
    border-color: #1C274C!important;
  }

  .ant-btn-icon-only:has(span[aria-label="edit"]),
  .ant-btn-icon-only:has(span[aria-label="eye"]),
  .ant-btn-icon-only:has(span[aria-label="delete"])
  {
    padding: 1px!important;
    width: 22px!important;
    height: 22px!important;
    border: none;
    outline: none;
  }
  .ant-btn-icon-only:has(span[aria-label="edit"]) {
    background-color: rgb(0, 70, 98)!important;
  }
  .ant-btn-icon-only:has(span[aria-label="eye"]) {
    background-color: rgb(255, 238, 0)!important;
  }
  .ant-btn-icon-only:has(span[aria-label="delete"]) {
    background-color: rgb(244, 40, 40)!important;
  }

  .ant-layout-sider-collapsed {
    min-width: 70px!important;
    max-width: 70px!important;
  }